<html>
<head>
<title> Welcome to Shirts </title>
</head>



<body>
<form method='post'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='submit'>
</form>
<hr/>

{% for obj in object_list %}

<div class='row'>
  <div class="col-sm-12">
    <div class="thumbnail">
      <div class="caption">
        <h3><a href='obj.price_url'>{{ obj.product_name }}</a> <br/><small>Product Id :{{ obj.product_id }}</small><br/><small>Product Price :{{ obj.product_price }}</small> </h3>
        <p><a href='obj.price_url' class="btn btn-primary" role="button">VIEW</a></p>
      </div>
    </div>
  </div>
  <hr/>
</div>
{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>



</body>

</html>